build
.vscode/launch.json
.vscode/.vscode/c_cpp_properties.json
.vscode/launch.json

*.launch

.vscode/*.log
nul.d

Debug
Release

*.eez-project-ui-state

org.eclipse.cdt.core.prefs

sync.ffs_db

.settings